body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.nav-bar {
  display: grid;
  flex-grow: 1;
}

.nav-links {
  transition: width 2s;
  transition-duration: 2s;
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #a4a5ad;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.bread-srcumb {
  text-decoration: none;
  color: #a4a5ad;
  font-size: 0.85em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.d-inline {
  display: inline;
}

#logo {
  color: black;
}

#txtSearch {
  font-size: 1rem;
  width: 85%;
}
#txtSearch:focus-visible {
  border: 0px !important;
}

.border-0 {
  border: 0px;
}

.border-1 {
  border: 1px solid #a4a5ad;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}
.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-3 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.my-1 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.p-1 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.p-2 {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}
.px-2 {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

.px-1 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.form-search {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.form-cart {
  padding: 10px;
  border-radius: 10px;
  width: 50px;
}
.text-primary {
  color: rgb(97, 9, 179);
}

.text-secondary {
  color: #9ea0a8;
}

#img-profile {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
}

#btn-menu {
  padding: 6px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(97, 9, 179);
  color: whitesmoke;
  border: 0px;
  border-radius: 6px;
}
.btn {
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(226, 213, 238);
  color: whitesmoke;
  border: 0px;
  border-radius: 6px;
}
.btn-primary {
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(97, 9, 179);
  color: whitesmoke;
  border: 0px;
  border-radius: 6px;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  width: 100%;
  overflow: hidden;
}

.corrousel {
  order: 1;
}

#main-img {
  width: 100%;
  height: auto;
  vertical-align: auto;
  border-radius: 4%;
}

#corrousel-preview {
  display: block ruby;
  overflow-y: scroll;
}

.img-corrousel-preview {
  width: 32%;
  height: auto;
  border-radius: 6%;
}

.select-img {
  border: 2px solid rgb(97, 9, 179);
}

#txtTitle {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#price-row {
  display: flex;
}

#row-add-to-cart {
  display: flex;
}

#txtSave {
  font-size: 1.1em;
  color: rgb(6, 199, 135);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
